<!DOCTYPE html>
<html>
    <head>
        <title>Administrator</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <form>
            <h1 >Administrator</h1>

            <div>
                <button type="button">Chat Rooms</button>
            </div>

            <div>
                <input type="text" placeholder="Message1">
            </div>
            <div>
                <input type="text" placeholder="Message2">
            </div>
            <div>
                Your Message: <input type="text" placeholder="Type Here">
            </div>

            <div>
                <button type="button">Submit</button>
            </div>

        </form>
    
    </body>
</html>