<!DOCTYPE html>
<html>
    <head>
        <title>Message</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <form method="POST">
            <h1 >Chat with {%user1%} </h1>

            <div>
                <button class="button btn-outline-info" type="submit" value="{% url 'home' %}">Home</button>
            </div>

            {% for i in messages %}
                <br>
                    {{ i }}
                </br>
            {% endfor %}

            <div>
                Your Message: <input type="text" placeholder="Type Here">
            </div>

            <div>
                <button class="button btn-outline-info" type="submit" value="{% url 'chat' %}">Send</button>
            </div>

        </form>

    </body>
</html>