<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
<h1>Welcome
    {{request.user}}
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <button class="button btn-outline-info" type="submit" value="{% url 'home' %}">Profile</button>

    </form>

    <form method="POST" action="{% url 'openSearch' %}">
        {% csrf_token %}
        <button class="button btn-outline-info" type="submit" value="{% url 'openSearch' %}">Search</button>

    </form>

   

    <form method="POST">
        {% csrf_token %}
      <fieldset class="form-group">
          <a id="messages-button" class="button" href="{% url 'Messages' %}">Chat Rooms</a>
      </fieldset>
    </form>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}

        <button class="button btn-outline-info" type="submit" value="{% url 'logout' %}">Sign Out</button>

    </form>

</h1>>
        </body>
    </html>