<!DOCTYPE html>
<html>
    {% load crispy_forms_tags %}
    {% block content %}
    <body>
      <header>
        <h1>Messages</h1>
      </header>

    <main class="container">
        <article class="row">
            <div class="col-md-12 p-5">
                <h3>Your Messages</h3>
            </div>
        </article>
        <article class="row">
            <div class="col-md-12 p-5">
                <form method="GET" action="{% url 'newchat' %}">
                    <button class="button btn-light" type="submit">Create a new message</button>
                </form>
            </div>
        </article>
        {% for chat in chats.all %}
        <article class="row mb-3">
            <div class="card col-md-12 p-5 shadow-sm">
                {%if chat.user1 == request.user %}
                <h5>{{ chat.user2 }}</h5><a class="stretched-link" href="{% url 'chat' chat.pk %}"></a>
                  {%if chat.unread1 != 0 %}
                  <h6>{{ chat.unread1 }} NEW</h6>
                  {% endif %}
                {% endif %}
                {%if chat.user2 == request.user %}
                <h5>{{ chat.user1 }}</h5><a class="stretched-link" href="{% url 'chat' chat.pk %}"></a>
                  {%if chat.unread2 != 0 %}
                  <h6>{{ chat.unread2 }} NEW</h6>
                  {% endif %}
                {% endif %}
            </div>
        </article>
        {% endfor %}
    </main>
    {% endblock content %}
  </body>
</html>
