<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <form>
            <h1 >Profile</h1>

            <div>
                <button type="button">HomePage</button>
            </div>

            <div>
                <button type="button">Edit</button>
            </div>

            <div>
                Name: <input type="text" placeholder="Name">
            </div>
            <div>
                Username: <input type="text" placeholder="Username">
            </div>
            <div>
                Year: <input type="text" placeholder="Year">
            </div>
            <div>
                Major: <input type="text" placeholder="Major">
            </div>
            
            <div>
                Current Classes: <button type="button">Public</button>
            </div>
            <div>
                Current Taken: <button type="button">Public</button>
            </div>
            <div>
                Student Organation: <button type="button">Public</button>
            </div>

            <div>
                Address: <button type="button">Private</button>
            </div>

        </form>
    
    </body>
</html>