<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% load crispy_forms_tags %}
<main class=" content-section">

    <form action="/register" method="POST">
        {% csrf_token %}
    
        {{ user_form.as_p }}
    
        {{ profile_form.as_p }}
    
        <input type="submit" value="Register"></input>
    </form>

    <article>
        <p>
          Already have an account? <a class="ml-2" href="{% url 'login' %}">Log In</a>
        </p>
    </article>
</main>
    </body>
</html>>